---
---
<a href="/astro-site/">Home</a>
<a href="/astro-site/about/">About</a>
<a href="/astro-site/blog/">Blog</a>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>About Ammar</h1>
        <h2>... and my new Astro site</h2>
        <p>Hi, I'm Ammar. I'm a software engineer and a web developer. I'm also a musician, a writer, a photographer, 
            a traveller, a dreamer, a thinker, a doer, a believer, a lover, a fighter, a winner, a loser, a human being.</p>
        <p>I'm also a big fan of Astro. I've been using Astro for a while now and I'm really impressed with it.</p>
	</body>
</html>
