---
const pageTitle = 'My Astro Learning Blog';
---
<a href="/astro-site/">Home</a>
<a href="/astro-site/about/">About</a>
<a href="/astro-site/blog/">Blog</a>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/astro-site/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
        <h1>{pageTitle}</h1>
        <p>This is where I will post about my journey learning Astro.</p>
        <ul>
            <li><a href="/astro-site/posts/post-1">First Post</a></li>
        </ul>
	</body>
</html>
